body {
    background-color: #f8f9fa;
}

.navbar-brand, .nav-link {
    font-weight: bold;
    color: #FFFFFF !important;
}

.navbar {
    background-color: #343a40 !important;
}

.nav-link:hover {
    color: #FFD700 !important;
}

.filters-container {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    position: sticky;
    top: 70px; /* Чтобы фильтры не перекрывали навбар */
    height: fit-content; /* Растянуть по содержимому */
}

.filter-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 15px;
}

.form-check-label {
    font-size: 0.9rem;
}

.btn-primary {
    background-color: #FFD700;
    border-color: #FFD700;
}

.btn-primary:hover {
    background-color: #ffc107;
    border-color: #ffc107;
}

.products-container {
    max-width: 1200px;
    margin: 0 auto;
}

.product-card {
    margin-bottom: 30px;
}

.card {
    transition: transform 0.3s, box-shadow 0.3s;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 40px 0;
    width: 100%;
}

.footer a {
    color: #FFD700;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #FFD700;
    color: #343a40;
    border: none;
    border-radius: 50%;
    display: none;
    justify-content: center;
    align-items: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.scroll-to-top.show {
    display: flex;
}

.scroll-to-top:hover {
    background-color: #ffc107;
}

.scroll-to-top svg {
    transform: rotate(180deg); /* Поворот стрелки вверх */
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.pulse-animation {
    animation: pulse 2s infinite;
}
.discount-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: red;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-weight: bold;
}
.product-card {
    position: relative;
}
.original-price {
    text-decoration: line-through;
    color: grey;
}
.discounted-price {
    color: green;
    font-weight: bold;
}